<%- include("../partials/header.ejs")  %>

<div class="container">
   <div class="row mt-3">

      <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" class="mx-auto mx-1"
         method="POST">
         <h1>Edit Comment </h1>
         <div class="form-group">
            <input class="form-control" type="text" name="comment[text]" id="" value="<%= comment.text %> ">
         </div>
         <div class="form-group">
            <input class="btn btn-secondary btn-md btn-block" type="submit" value="Add">
         </div>
      </form>
   </div>
   <a href="/campgrounds/<%= campground_id %>">Go Back!</a>
</div>


<%- include("../partials/footer.ejs")  %>