<%- include("../partials/header.ejs")  %>
<div class="container">
   <div class="row">
      <div class="col-md-3">
         <p class="lead">SerenityCamp</p>
         <div class="list-group">
            <div class="list-group-item active">Info 1</div>
            <div class="list-group-item">Info 2</div>
            <div class="list-group-item">Info 3</div>
         </div>
      </div>
      <div class="col-md-9">
         <div class="card">
            <img src="<%= campground.image %>" class="card-img-top img-responsive" alt="...">
            <div class="card-body">
               <div class="row justify-content-between mx-2">
                  <h4 class="card-title"><a href=""><%= campground.name %> </a></h4>
                  <h5 class="">9$/Night</h5>
               </div>
               <p class="card-text"><%= campground.description %></p>

            </div>
         </div>
         <div class="card card-body bg-light my-2">
            <div class="text-right">
               <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <% campground.comments.forEach((comment)=>{ %>
            <div class="row">
               <div class="col-md-12">
                  <strong><%= comment.author %> </strong>
                  <span class="float-right">10 days ago </span>
                  <p><%= comment.text  %></p>
               </div>
            </div>
            <% }) %>
         </div>

      </div>
   </div>




</div>


<%- include("../partials/footer.ejs")  %>